
.vs/Episode Renamer/v16/.suo
*.pdb
Episode Renamer/obj/Debug/Episode Renamer.csproj.FileListAbsolute.txt
Episode Renamer/obj/Debug/Episode Renamer.csproj.GenerateResource.cache
Episode Renamer/obj/Debug/Episode Renamer.csprojAssemblyReference.cache
Episode Renamer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Episode Renamer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Episode Renamer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Episode Renamer/obj/Debug/Episode Renamer.csproj.FileListAbsolute.txt
Episode Renamer/obj/Debug/Episode Renamer.csproj.GenerateResource.cache
Episode Renamer/obj/Debug/Episode Renamer.csprojAssemblyReference.cache
Episode Renamer/obj/Debug/Episode Renamer.exe
Episode Renamer/obj/Debug/Episode Renamer.pdb
Episode Renamer/obj/Debug/Episode_Renamer.Form1.resources
Episode Renamer/obj/Debug/Episode_Renamer.Properties.Resources.resources
Episode Renamer/Properties/Resources.Designer.cs
Episode Renamer/Properties/Resources.resx
Episode Renamer/Properties/Settings.Designer.cs
Episode Renamer/Properties/Settings.settings
Episode Renamer/bin/Debug/Episode Renamer.pdb
Episode Renamer/bin/Debug/Episode Renamer.exe.config
Episode Renamer/bin/Debug/Episode Renamer.exe
Episode Renamer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Episode Renamer/obj/Debug/Episode Renamer.csproj.CoreCompileInputs.cache
Episode Renamer/obj/Debug/Episode Renamer.csproj.AssemblyReference.cache
